.modal {
  z-index:1070!important;
}

.modal-dialog {
  margin:0 auto 0 0;
  
  @media (min-width:34em) {
    margin:0 auto 0 0;
  }
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(-25%, 0);
  -ms-transform: translate(-25%, 0);
  transform: translate(-25%, 0);
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);  
  -ms-transform: translate(0, 0);  
  transform: translate(0, 0);
}

.modal-content {
  height:100%;
  border-radius: 0;
  overflow: hidden;
  overflow-y: scroll;
}

.modal-body {
  overflow:hidden;  
  
  h5 {
    font-size:.75rem;
    text-transform: uppercase;
  }
  
  ul {
    list-style-type:none;
    padding:0;
  }
  
  li {
    float:left;
    margin-bottom:15px;
    
    li {
      width:30px;
      height:30px;
      text-align: center;
      line-height: 30px;
      margin:1px;
      border-radius:2px;
      background:#eee;
      transition:all ease-in-out .2s;
      cursor:pointer;
      
      &:hover {
        background:darken(#eeeeee, 10%);
      }
      
      &.has-event {
        background:#cc0000;
        color:#fff;
        
        &:hover {
          background:darken(#cc0000, 10%);
        }
      }      
      
    }
  }
}