.navbar-fixed-left {
  position:fixed;
  left:0;
  width:200px;
  top:0; bottom:0;
  border-radius:0;
  padding:15px;
  z-index:1060;
  
  a {
    color:#fff;
  }
  
  .btn-row {
    margin:0 auto;
    width:100px;
    text-align: center;
    font-size:0;
    position: relative;
    z-index: 1070;    
    transform: translateY(-50px);
  }
  
  button {
    margin:0;
    width:calc(100% / 3);
    display:inline-block;
    text-align: center;
    background:#f5f5f5;
    border-radius: 0;
    padding:5px;
    font-size: 20px;
    border:1px solid #eee;
    border-bottom:0;
    
    &:first-child, &:last-child {
      //padding:.45rem 1rem .305rem;
      border-left:0;
      border-right:0;
    }
    
    &:hover {
      background:#ddd;
    }
  }
}