<!doctype html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>

<body ng-app="planckApp">
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <!-- Add your site or application content here -->
  <div ng-controller="MainCtrl">
    <nav class="navbar navbar-fixed-left">
      <div class="scroll-indicator-outer">
        <div class="scroll-indicator" ng-style="{transform: dayNightRotation}">
          <span class="fa fa-moon-o"></span>
          <span class="fa fa-sun-o"></span>
        </div>
        <div class="scroll-date" ng-bind="scrollDate"></div>
        <div class="btn-row">
          <button type="button" class="btn btn-default fa fa-chevron-left" ng-click="move(-1)"></button>
          <button type="button" class="btn btn-default fa fa-calendar" ng-click="open(data)"></button>
          <button type="button" class="btn btn-default fa fa-chevron-right" ng-click="move(1)"></button>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row timeline">
        <div class="bya">
          <div class="event" ng-repeat="e in data track by $index" ng-class="{'label-only': !e.gsx$bya.$t.length && !e.gsx$mya.$t.length && !e.gsx$kya.$t.length}" ng-style="{'height': e.height}" id="e-{{$index}}">
            <div ng-if="e.gsx$bya.$t.length || e.gsx$mya.$t.length || e.gsx$kya.$t.length" class="event-content">
              <h3>{{e.gsx$label.$t}}</h3>
              <h4>{{date(e.gsx$datetime.$t)}} | {{yearsAgo(e)}} years ago</h4>
            </div>
            <div ng-if="!e.gsx$bya.$t.length && !e.gsx$mya.$t.length && !e.gsx$kya.$t.length" class="event-content">
              <h3>{{e.gsx$label.$t}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/ng-template" id="modal.html">
    <div class="modal-body">
      <ul>
        <li ng-repeat="m in months track by $index">
          <h5>{{getMonthName($index + 1)}}</h5>
          <ul>
            <li ng-repeat="d in m track by $index" class="{{d.class}}" data-eventId="{{d.id}}" id="{{setId($index, $parent.$index)}}" ng-click="ok($event)">{{$index + 1}}</li>
          </ul>
        </li>
      </ul>
    </div>
  </script>



  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
    ! function(A, n, g, u, l, a, r) {
      A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
          (A[l].q = A[l].q || []).push(arguments)
        }, A[l].l = +new Date, a = n.createElement(g),
        r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
  </script>

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/angular-scroll/angular-scroll.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/DateJS/build/production/date.min.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/main.js"></script>
  <script src="scripts/controllers/modalinstance.js"></script>
  <script src="scripts/services/data.js"></script>
  <!-- endbuild -->
</body>

</html>
